header {
	position: relative;

	overflow: hidden;

	height: 100svh;

	padding: 0 2rem;

	color: var(--color-others-light);
	background-color: var(--color-others-dark);

	align-items: center;

	&,
	#presentation {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#presentation {
		z-index: 7;

		gap: 0.625rem;

		padding: 2rem;

		background-color: var(--color-others-dark);
		border-radius: 25px;

		@media screen and (min-width: 570px) {
			align-items: center;
		}

		.title {
			width: min-content;
		}

		#links {
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			gap: 1rem;

			margin-top: 2rem;

			#cv {
				min-width: max-content;
			}
		}

		p {
			font-size: 1.5rem;
			font-weight: normal;
		}

		p,
		.title {
			text-align: left;

			@media screen and (min-width: 570px) {
				text-align: center;
				width: max-content;
			}
		}
	}

	#scroll-icon {
		position: absolute;
		bottom: 4rem;
		left: 50%;

		transform: translateX(-50%);

		z-index: 8;

		border-radius: 5px;
		background-color: var(--color-others-dark);

		--time: 1500ms;
		--divider: 6;

		--y-top: 10px;
		--y-default: 0;

		animation: var(--time) ease-out infinite bounce;

		@keyframes bounce {
			12.5% {
				transform: translateX(-50%) translateY(var(--y-top));
			}

			25% {
				transform: translateX(-50%) translateY(var(--y-default));
			}

			37.5% {
				transform: translateX(-50%) translateY(calc(var(--y-top)));
			}

			0%,
			50% {
				transform: translateX(-50%) translateY(var(--y-default));
			}
		}
	}
}
